@page "/"

<h2>Новости</h2>
<hr />

<p>
    Сервис включает в себя мобильное приложение, веб-апи и SPA приложение.
</p>
<hr />
<p>
    Безопастное общение мобильного устрйства с апи по https
</p>
<hr />
<p>
    Только свободное! Ubuntu, Nginx, Postgresql
</p>
<hr />
<p>
    Возможность заводить в базе объекты строительства с указанием координат
</p>
<hr />
<p>
    Отправление с устройства SOS сигнала с координатами
</p>

