<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">NullReference Team</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-globe" aria-hidden="true"></span> Новости
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="map">
                <span class="oi oi-map" aria-hidden="true"></span> Карта
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="constructions">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Объекты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="workers">
                <span class="oi oi-people" aria-hidden="true"></span> Работники
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Отчеты
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="emergencies">
                <span class="oi oi-pulse" aria-hidden="true"></span> Экстренные
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
